@model IEnumerable<BasketItemDto>

@{
    ViewData["Title"] = "Show Order";
}
    
<h1 style="color: green; text-align: center">In Development</h1>

<div>
    <h2 style="color: blueviolet;">What I am planning to create:</h2>

    <h3>Order.WebAPI (main folders)</h3>
    <ul>
        <li>Controller</li>
        <li>Services</li>
        <li>
            <ul>Repositories
                <li>Table: Users (Id, Name, Email)</li>
                <li>Table: Games (Id, Title, Price)</li>
                <li>Table: Orders (Id, UserId, GameId, Quantity)</li>
            </ul>
        </li>
    </ul>

    <h3>MVC [Authentication required]</h3>
    <ul>
        <li>Controller</li>
        <li>Services</li>
        <li>Views</li>
        <li>Basket/Show: add button "Buy"</li>
    </ul>
</div>